<%- include('../../fragments/header.ejs') %>

  <main>

    <h2><%switch(formMode){
      case 'createNew': %>
      <%=__('client.form.add.pageTitle')%>
      <%break;%>
      <%case 'edit':%>
      <%=__('client.form.edit.pageTitle')%>
      <%break;%>
      <%case 'showDetails':%>
      <%=__('client.form.details.pageTitle')%>
      <%break;%>
      <%default:%>
      Error in determining form type, see respective form.ejs
      <%break;%>
      <% } %>
    </h2>



    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

      <input type="hidden" name="_id" value="<%=kli._id%>">

      <label><%=__('client.fields.first-name')%>:<span class="symbol-required">*</span></label>
      <input class="<%=(validationErrors.find(e => e.path.includes('imie')) )?'error-input' : ''%>" type="text" name="imie" id="firstName" required placeholder="2-32 znaków" value="<%=kli.imie%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
      <span id="errorFirstName" class="error-text">
        <% if (validationErrors.find(e => e.path.includes('imie')) ) {%>
          <%= validationErrors.find(e => e.path.includes('imie')).message%>
        <% } %>
      </span>

      <label><%=__('client.fields.last-name')%>:<span class="symbol-required">*</span></label>
      <input class="<%=(validationErrors.find(e => e.path.includes('nazwisko')) )?'error-input' : ''%>" type="text" name="nazwisko" id="lastName" required placeholder="2-32 znaków" value="<%=kli.nazwisko%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
      <span id="errorLastName" class="error-text">
        <% if (validationErrors.find(e => e.path.includes('nazwisko')) ) {%>
          <%= validationErrors.find(e => e.path.includes('nazwisko')).message%>
        <% } %>
      </span>

      <label><%=__('client.fields.email')%>:</label>
      <input class="<%=(validationErrors.find(e => e.path.includes('email')) )?'error-input' : ''%>" type="email" name="email" id="email" placeholder=<%= (formMode == 'showDetails')? "Brak" : "ABC@DE.FG"%> value="<%=kli.email%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
      <span id="errorEmail" class="error-text">
        <% if (validationErrors.find(e => e.path.includes('email')) ) {%>
          <%= validationErrors.find(e => e.path.includes('email')).message%>
        <% } %>
      </span>

      <!-- Buttons end form -->
      <div class="form-buttons">

        <p id="errorSummary" class="error-text"><%=(validationErrors.length  > 0 ) ? 'Formularz zawiera błędy' : ''%></p>

        <%if (formMode== 'showDetails') {%>
          <a href="/Klient/edit/<%= kli._id%>" class="button-edit">
          <img src="/Images/icons8-more-details-64.png" class="button-edit-icon">
          <span class="button-edit-text"><%=__('client.form.details.btnLabel')%></span>
          </a>
          <a href="/Klient" class="button-return">
            <img src="/Images/icons8-u-turn-to-left-64.png" class="button-return-icon">
            <span class="button-return-text"><%=__('form.actions.return')%></span>
          </a>

        <%} else {%>
          <input type="submit"  class="form-button-submit" value="<%switch(formMode){
          case 'createNew': %>
<%=__('client.form.add.btnLabel')%>
                        <%break;%>
                        <%case 'edit':%>
<%=__('client.form.edit.btnLabel')%>
                        <%break;%>
                        <%case 'showDetails':%>
<%=__('client.form.details.btnLabel')%>
                        <%break;%>
                        <%default:%>
Error in determining form type, see respective form.ejs
                        <%break;%>
                        <% } %>">
          <a href="/klient" class="form-button-cancel"><%=__('form.actions.cancel')%></a>
        <%}%>



      </div>

    </form>

    <% if (formMode == 'showDetails' || formMode == 'edit') {%>

    <% if (kli.wypozyczenia != null) {%>
    <%if (kli.wypozyczenia.length > 0 ) {%>
      <h2>Wypożyczenia klienta</h2>
        <table class="table-list">
          <thead>
          <tr>
          <th><%=__('lend.fields.book-title')%></th>
          <th><%=__('book.fields.id')%></th>
          <th><%=__('lend.fields.date-from')%></th>
          <th><%=__('lend.fields.date-to')%></th>
          </tr>
          </thead>
          <tbody>
          <%for (let k of kli.wypozyczenia){%>
            <tr>
              <td><a href="/egzemplarz_ksiazki/details/<%=k.ksiazka._id%>" ><%="\""+k.ksiazka.tytul +"\""%></a></td>
              <td><%=k.ksiazka._id%></td>
              <td><%=fmt.formatDate(k.data_od)%></td>
              <td><%=fmt.formatDate(k.data_do)%></td>
            </tr>
          <% } %>
          </tbody>
        </table>
    <%} else {%>
      <h2><%=__('client.form.no-data')%></h2>
      <% } %>
    <% } } %>
  </main>

<%- include('../../fragments/footer.ejs') %>