<%- include('../../fragments/header.ejs') %>

    <main>

        <h2>Lista Klientów</h2>



        <table class="table-list">

            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Akcje</th>
                </tr>
            </thead>

            <tbody>

            <% for (let kli of klis) {%>
            <tr>
                <td><%= kli.imie%></td>
                <td><%= kli.nazwisko%></td>
                <td><%= kli.email%></td>

                <td>
                    <ul class="list-actions">
                        <li>
                            <a class="list-actions-button-details" href="/Klient/details/<%= kli._id%>">
                                <img src="/Images/icons8-more-details-64.png" class="list-actions-button-details-icon">
                                <span class="list-actions-button-details-text">Więcej</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-actions-button-edit" href="/Klient/edit/<%= kli._id%>">
                                <img src="/Images/icons8-pencil-64.png" class="list-actions-button-edit-icon">
                                <span class="list-actions-button-edit-text">Edytuj</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-actions-button-delete" href="/Klient/delete/<%= kli._id%>">
                                <img src="/Images/icons8-remove-64.png" class="list-actions-button-delete-icon">
                                <span class="list-actions-button-delete-text">Usuń</span>
                            </a>
                        </li>
                    </ul>
                </td>

            </tr>
            <% }%>

            </tbody>



        </table>

        <p><a href="/klient/add" class="button-add">Dodaj nowego klienta</a> </p>
    </main>

<%- include('../../fragments/footer.ejs') %>