<%- include('../../fragments/header.ejs') %>

    <main>

        <h2><%switch(formMode){
            case 'createNew': %>
            <%=__('lend.form.add.pageTitle')%>
            <%break;%>
            <%case 'edit':%>
            <%=__('lend.form.edit.pageTitle')%>
            <%break;%>
            <%case 'showDetails':%>
            <%=__('lend.form.details.pageTitle')%>
            <%break;%>
            <%default:%>
            Error in determining form type, see respective form.ejs
            <%break;%>
            <% } %>
        </h2>




        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

            <input type="hidden" name="_id" value="<%=wyp._id%>">

            <label for="ksiazka"><%=__('lend.fields.book-title')%>: <span class="symbol-required">*</span></label>
            <select class="<%=(validationErrors.find(e => e.path.includes('Ksiazka_id')))? 'error-input':'' %>" name="Ksiazka_id" id="ksiazka" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>

                <% if (formMode != 'showDetails' ) {%>
                <% /* Przypadek gdzie się nie wczytuje reszty tabel */%>
                    <option <%=(formMode == 'createNew') ? 'selected' : ''%> disabled hidden value="default">--<%=__('book.form.default')%>--</option>
                    <% for (let ksi of allKsi) {%>
                    <option value="<%=ksi._id%>"<%=(wyp != null)? ((wyp.Ksiazka_id == ksi._id) ? 'selected' : '' ) : ''%> ><%="\"" + ksi.tytul + "\" ID:"  + ksi._id%></option>
                    <% } %>
                <% } else {%>
                    <option selected disabled><%="\"" + wyp.ksiazka.tytul + "\" ID: " + wyp.ksiazka._id%></option>
                <% } %>


            </select>
            <span id="errorKsiazka" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('Ksiazka_id')) ) {%>
                    <%= __(validationErrors.find(e => e.path.includes('Ksiazka_id')).message)%>
                <% } %>
            </span>

            <label for="klient"><%=__('lend.fields.client')%>: <span class="symbol-required">*</span></label>
            <select class="<%=(validationErrors.find(e => e.path.includes('Klient_id')))? 'error-input':'' %>" name="Klient_id" id="klient" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <% if (formMode != 'showDetails' ) {%>
                    <% /* Przypadek gdzie się nie wczytuje reszty tabel */%>
                <option <%=(formMode == 'createNew') ? 'selected' : ''%> disabled hidden value="default">--<%=__('client.form.default')%>--</option>
                <% for (let kli of allKli){%>
                    <option value="<%= kli._id%>" <%=(wyp != null)? ((wyp.Klient_id == kli._id) ? 'selected' : '' ) : ''%>><%= kli.imie + " " + kli.nazwisko + " ID:" + kli._id%></option>
                <% } %>
                <% } else {%>
                <option selected hidden ><%=wyp.klient.imie + " " + wyp.klient.nazwisko + " ID:" + wyp.klient._id %></option>
                <% } %>

            </select>
            <span id="errorKlient" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('Klient_id')) ) {%>
                    <%= __(validationErrors.find(e => e.path.includes('Klient_id')).message)%>
                <% } %>
            </span>

            <label><%=__('lend.fields.date-from')%>: <span class="symbol-required">*</span></label>
            <input class="<%=(validationErrors.find(e => e.path.includes('data_od')))? 'error-input':'' %>" type="date" name="data_od" id="dateFrom" required value="<%= (wyp != null) ? (fmt.formatDate(wyp.data_od)) : ''%>"  <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <span id="errorDateFrom" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('data_od')) ) {%>
                    <%= __(validationErrors.find(e => e.path.includes('data_od')).message)%>
                <% } %>
            </span>

            <label><%=__('lend.fields.date-to')%>:</label>
            <input class="<%=(validationErrors.find(e => e.path.includes('data_do')))? 'error-input':'' %>" type="date" name="data_do" id="dateTo" value="<%= (wyp != null) ? (fmt.formatDate(wyp.data_do)) : ''%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <span id="errorDateTo" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('data_do')) ) {%>
                    <%= __(validationErrors.find(e => e.path.includes('data_do')).message)%>
                <% } %>
            </span>

            <div class="form-buttons">
                <span id="errorSummary" class="error-text"><%= (validationErrors.length  > 0) ? 'Formularz zawiera błędy' : ''%></span>
                <%if (formMode== 'showDetails') {%>
                    <a href="/wypozyczenie/edit/<%= wyp._id%>" class="button-edit">
                        <img src="/Images/icons8-more-details-64.png" class="button-edit-icon">
                        <span class="button-edit-text"><%=__('lend.form.details.btnLabel')%></span>
                    </a>
                    <a href="/wypozyczenie" class="button-return">
                        <img src="/Images/icons8-u-turn-to-left-64.png" class="button-return-icon">
                        <span class="button-return-text"><%=__('form.actions.return')%></span>
                    </a>
                <% } else {%>
                <input type="submit" class="form-button-submit" value="<%switch(formMode){
                case 'createNew': %>
<%=__('lend.form.add.btnLabel')%>
                        <%break;%>
                        <%case 'edit':%>
<%=__('lend.form.edit.btnLabel')%>
                        <%break;%>
                        <%case 'showDetails':%>
<%=__('lend.form.details.btnLabel')%>
                        <%break;%>
                        <%default:%>
Error in determining form type, see respective form.ejs
                        <%break;%>
                        <% } %>">
                <a href="/wypozyczenie" class="form-button-cancel"><%=__('form.actions.cancel')%></a>
                <% } %>
            </div>


        </form>

    </main>

<%- include('../../fragments/footer.ejs') %>