<%- include('../../fragments/header.ejs') %>

  <main>

    <h2><%=__('lend.list.title')%></h2>



    <table class="table-list">

      <thead>
        <tr>
          <th><%=__('lend.fields.book-title')%></th>
          <th><%=__('lend.fields.client')%></th>
          <th class="cut-detail"><%=__('lend.fields.email')%></th>
          <th><%=__('lend.fields.date-from')%></th>
          <th><%=__('lend.fields.date-to')%></th>
          <th><%=__('list.actions')%></th>
        </tr>
      </thead>
      <% for( let wyp of wyps){%>
      <tr>
        <td><%="\""+ wyp.ksiazka.tytul + "\""%></td>
        <td><%=wyp.klient.imie + " " + wyp.klient.nazwisko%></td>
        <td class="cut-detail"><%= wyp.klient.email%></td>
        <td><%=wyp.data_od.toISOString().split('T')[0]%></td>
        <td><%= (wyp.data_do) ? wyp.data_do.toISOString().split('T')[0]: ''%></td>
        <td>
          <ul class="list-actions">
            <li>
              <a class="list-actions-button-details" href="/wypozyczenie/details/<%= wyp._id%>">
                <img src="/Images/icons8-more-details-64.png" class="list-actions-button-details-icon">
                <span class="list-actions-button-details-text"><%=__('list.details')%></span>
              </a>
            </li>
            <li>
              <a class="list-actions-button-edit" href="/wypozyczenie/edit/<%= wyp._id%>">
                <img src="/Images/icons8-pencil-64.png" class="list-actions-button-edit-icon">
                <span class="list-actions-button-edit-text"><%=__('list.edit')%></span>
              </a>
            </li>
            <li>
                                                                                                                                             <% /* Zabawy z // i /" , polecam DK :) */%>
              <a class="list-actions-button-delete" href="/wypozyczenie/delete/<%= wyp._id%>" onclick="return confirmDelete(<%="\"wypożyczenie: \\"+ "\""+ wyp.ksiazka.tytul +"\\"+"\" przez " + wyp.klient.imie + " "+ wyp.klient.nazwisko +"\""%>);">
                <img src="/Images/icons8-remove-64.png" class="list-actions-button-delete-icon">
                <span class="list-actions-button-delete-text"><%=__('list.delete')%></span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <% } %>
      <tbody>

      </tbody>



    </table>

    <p><a href="/wypozyczenie/add" class="button-add"><%=__('lend.list.addNew')%></a> </p>

  </main>

<%- include('../../fragments/footer.ejs') %>