<%- include('../../fragments/header.ejs') %>

    <main>

        <h2><%=pageTitle%></h2>



        <form class="form" novalidate method="post" action="<%=formAction%>" onsubmit="return validateForm();">

            <input type="hidden" name="_id" value="<%=ksi._id%>">

            <label>Tytuł:<span class="symbol-required">*</span></label>
            <input class="<%=(validationErrors.find(e => e.path.includes('tytul')) )?'error-input' : ''%>" type="text" name="tytul" id="title" required placeholder="2-64 znaków" value="<%=(ksi.tytul)?("\""+ksi.tytul+"\""):ksi.tytul%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <span id="errorTitle" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('tytul')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('tytul')).message%>
                <% } %>
            </span>

            <label>Data pozyskania:<span class="symbol-required">*</span></label>
            <input class="<%=(validationErrors.find(e => e.path.includes('data_pozyskania')) )?'error-input' : ''%>" type="date" name="data_pozyskania" id="date" required value="<%=(ksi.data_pozyskania) ? ksi.data_pozyskania.toISOString().split('T')[0] : ksi.data_pozyskania %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <span id="errorDate" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('data_pozyskania')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('data_pozyskania')).message%>
                <% } %>
            </span>

            <label>Strony:<span class="symbol-required">*</span></label>
            <input class="<%=(validationErrors.find(e => e.path.includes('strony')) )?'error-input' : ''%>" type="number" name="strony" id="pages" required value="<%=ksi.strony%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <span id="errorPages" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('strony')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('strony')).message%>
                <% } %>
            </span>


            <label>Uszkodzenia:</label>
            <input class="<%=(validationErrors.find(e => e.path.includes('uszkodzenia')) )?'error-input' : ''%>" type="text" name="uszkodzenia" id="damage" placeholder=<%= (formMode == 'showDetails')? "Brak": "0-128_znaków"%> value="<%=ksi.uszkodzenia%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <span id="errorDamage" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('uszkodzenia')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('uszkodzenia')).message%>
                <% } %>
            </span>

            <div class="form-buttons">
                <p id="errorSummary" class="error-text"><%=(validationErrors.length  > 0 ) ? 'Formularz zawiera błędy' : ''%></p>
                <%if (formMode== 'showDetails') {%>
                    <a href="/egzemplarz_ksiazki/edit/<%= ksi._id%>" class="button-edit">
                        <img src="/Images/icons8-more-details-64.png" class="button-edit-icon">
                        <span class="button-edit-text">Edytuj</span>
                    </a>
                    <a href="/egzemplarz_ksiazki" class="button-return">
                        <img src="/Images/icons8-u-turn-to-left-64.png" class="button-return-icon">
                        <span class="button-return-text">Powrót</span>
                    </a>
                <% } else { %>
                    <input type="submit" value="<%=btnLabel%>" class="form-button-submit">
                    <a href="/egzemplarz_ksiazki" class="form-button-cancel">Powrót</a>
                <% } %>
            </div>

        </form>

    <% if (formMode == 'showDetails' || formMode== 'edit'){%>

        <%if (ksi.wypozyczenia.length > 0 ) {%>
        <h2>Wypożyczenia książki</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Klient</th>
                <th>Email</th>
                <th>Data Wypożyczenia</th>
                <th>Data Zwrotu</th>
            </tr>
            </thead>
            <tbody>

            <% for (let b of ksi.wypozyczenia){%>
            <tr>
                <td><a href="/klient/details/<%=b.klient._id%>"><%= b.klient.imie + " " +  b.klient.nazwisko%></a> </td>
                <td><%= b.klient.email%></td>
                <td><%= b.data_od.toISOString().split('T')[0]%></td>
                <td><%= (b.data_do)? b.data_do.toISOString().split('T')[0]: ''%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% } else {%>
            <h2>Brak przypisanych wypożyczeń książki</h2>
        <% } %>
    <% } %>

    </main>
<%- include('../../fragments/footer.ejs') %>