<%- include('../../fragments/header.ejs') %>

    <main>
        <%/*  'createNew' , 'edit' , 'showDetails'   */%>
        <h2><%switch(formMode){
                case 'createNew': %>
                <%=__('book.form.add.pageTitle')%>
                <%break;%>
                <%case 'edit':%>
                <%=__('book.form.edit.pageTitle')%>
                <%break;%>
                <%case 'showDetails':%>
                <%=__('book.form.details.pageTitle')%>
                <%break;%>
                <%default:%>
                Error in determining form type, see respective form.ejs
                <%break;%>
            <% } %>
        </h2>


        <form class="form" novalidate method="post" action="<%=formAction%>" onsubmit="return validateForm();">

            <input type="hidden" name="_id" value="<%=ksi._id%>">

            <label><%=__('book.fields.title')%>:<span class="symbol-required">*</span></label>
            <input class="<%=(validationErrors.find(e => e.path.includes('tytul')) )?'error-input' : ''%>" type="text" name="tytul" id="title" required placeholder="2-64 znaków"
                   value="<%=(ksi.tytul)?((formMode == 'createNew' || formMode == 'edit') ? fmt.removeQuoteIfExist(ksi.tytul) : fmt.addQuoteIfNotExist(ksi.tytul) ):ksi.tytul%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <span id="errorTitle" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('tytul')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('tytul')).message%>
                <% } %>
            </span>

            <label><%=__('book.fields.date')%>:<span class="symbol-required">*</span></label>
            <input class="<%=(validationErrors.find(e => e.path.includes('data_pozyskania')) )?'error-input' : ''%>" type="date" name="data_pozyskania" id="date" required value="<%=fmt.formatDate(ksi.data_pozyskania)%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <span id="errorDate" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('data_pozyskania')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('data_pozyskania')).message%>
                <% } %>
            </span>

            <label><%=__('book.fields.pages')%>:<span class="symbol-required">*</span></label>
            <input class="<%=(validationErrors.find(e => e.path.includes('strony')) )?'error-input' : ''%>" type="number" name="strony" id="pages" required value="<%=ksi.strony%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <span id="errorPages" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('strony')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('strony')).message%>
                <% } %>
            </span>


            <label><%=__('book.fields.damages')%>:</label>
            <textarea  class="<%=(validationErrors.find(e => e.path.includes('uszkodzenia')) )?'error-input' : ''%>" rows="3" name="uszkodzenia" id="damage" placeholder=<%= (formMode == 'showDetails')? "Brak": "0-128_znaków"%>  <%= (formMode == 'showDetails') ? 'disabled' : ''%>><%=ksi.uszkodzenia%></textarea>
            <span id="errorDamage" class="error-text">
                <% if (validationErrors.find(e => e.path.includes('uszkodzenia')) ) {%>
                    <%= validationErrors.find(e => e.path.includes('uszkodzenia')).message%>
                <% } %>
            </span>

            <div class="form-buttons">
                <p id="errorSummary" class="error-text"><%=(validationErrors.length  > 0 ) ? 'Formularz zawiera błędy' : ''%></p>
                <%if (formMode== 'showDetails') {%>
                    <a href="/egzemplarz_ksiazki/edit/<%= ksi._id%>" class="button-edit">
                        <img src="/Images/icons8-more-details-64.png" class="button-edit-icon">
                        <span class="button-edit-text"><%=__('book.form.details.btnLabel')%></span>
                    </a>
                    <a href="/egzemplarz_ksiazki" class="button-return">
                        <img src="/Images/icons8-u-turn-to-left-64.png" class="button-return-icon">
                        <span class="button-return-text"><%=__('form.actions.return')%></span>
                    </a>
                <% } else { %>
                    <input type="submit" class="form-button-submit" value="<%switch(formMode){
                        case 'createNew': %>
<%=__('book.form.add.btnLabel')%>
                        <%break;%>
                        <%case 'edit':%>
<%=__('book.form.edit.btnLabel')%>
                        <%break;%>
                        <%case 'showDetails':%>
<%=__('book.form.details.btnLabel')%>
                        <%break;%>
                        <%default:%>
Error in determining form type, see respective form.ejs
                        <%break;%>
                        <% } %>">
                    <a href="/egzemplarz_ksiazki" class="form-button-cancel"><%=__('form.actions.cancel')%></a>
                <% } %>
            </div>

        </form>

    <% if (formMode == 'showDetails' || formMode== 'edit'){%>
        <%if (ksi.wypozyczenia != null) {%>
        <%if (ksi.wypozyczenia.length > 0 ) {%>
        <h2><%=__('book.form.lend-by')%></h2>
        <table class="table-list">
            <thead>
            <tr>
                <th><%=__('lend.fields.client')%></th>
                <th><%=__('lend.fields.email')%></th>
                <th><%=__('lend.fields.date-from')%></th>
                <th><%=__('lend.fields.date-to')%></th>
            </tr>
            </thead>
            <tbody>

            <% for (let b of ksi.wypozyczenia){%>
            <tr>
                <td><a href="/klient/details/<%=b.klient._id%>"><%= b.klient.imie + " " +  b.klient.nazwisko%></a> </td>
                <td><%= b.klient.email%></td>
                <td><%= fmt.formatDate(b.data_od)%></td>
                <td><%= (b.data_do)? fmt.formatDate(b.data_do): ''%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% } else {%>
            <h2><%=__('book.form.no-data')%></h2>
        <% } %>
    <% } } %>

    </main>
<%- include('../../fragments/footer.ejs') %>