<%- include('../../fragments/header.ejs') %>

  <main>

    <h2>Lista Książek</h2>



    <table class="table-list">

      <thead>
        <tr>
          <th>Tytuł</th>
          <th>Data Pozyskania</th>
          <th>Strony</th>
          <th>Uszkodzenia</th>
          <th>Akcje</th>
        </tr>
      </thead>

      <tbody>

      <%for (let ksi of ksis){%>
      <tr>
        <td><%=fmt.addQuoteIfNotExist(ksi.tytul)%></td>
        <td><%=fmt.formatDate(ksi.data_pozyskania)%></td>
        <td><%=ksi.strony%></td>
        <td><%=ksi.uszkodzenia%></td>
        <td>
          <ul class="list-actions">
            <li>
              <a class="list-actions-button-details" href="/egzemplarz_ksiazki/details/<%= ksi._id%>">
                <img src="/Images/icons8-more-details-64.png" class="list-actions-button-details-icon">
                <span class="list-actions-button-details-text">Więcej</span>
              </a>
            </li>
            <li>
              <a class="list-actions-button-edit" href="/egzemplarz_ksiazki/edit/<%= ksi._id%>">
                <img src="/Images/icons8-pencil-64.png" class="list-actions-button-edit-icon">
                <span class="list-actions-button-edit-text">Edytuj</span>
              </a>
            </li>
            <li>
              <a class="list-actions-button-delete" href="/egzemplarz_ksiazki/delete/<%= ksi._id%>" onclick="return confirmDelete(<%="\"książkę : " + ksi.tytul + "\""%>);">
                <img src="/Images/icons8-remove-64.png" class="list-actions-button-delete-icon">
                <span class="list-actions-button-delete-text">Usuń</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <% } %>
      </tbody>



    </table>

    <p><a href="/egzemplarz_ksiazki/add" class="button-add">Dodaj nową książkę</a> </p>

  </main>

<%- include('../../fragments/footer.ejs') %>