<div class="lang-container">
    <a href="/changeLang/pl" class="<%= lang == 'pl' || !lang ? 'active' : '' %>">
        <img src="/Images/Flags/PL.png">
    </a>
    <a href="/changeLang/en" class="<%= lang == 'en'? 'active' : '' %>">
        <img src="/Images/Flags/GB.png">
    </a>
</div>
<footer><a href="mailto: s23109@pjwstk.edu.pl">Dawid Kachniarz, s23109</a></footer>
</body>

<div class="error-vars" style="display: none">
    <span id="confirmDelete"><%=__("messages.confirm-delete")%></span>
    <span id="whiteCharErr" ><%=__("messages.fields-with-white-char")%></span>

    <span id="err.unique"><%=__('err.unique')%></span>
    <span id="err.len_2-32"><%=__('err.len_2-32')%></span>
    <span id="err.len_3-32"><%=__('err.len_3-32')%></span>
    <span id="err.len_2-64"><%=__('err.len_2-64')%></span>
    <span id="err.len_max_128"><%=__('err.len_max_128')%></span>
    <span id="err.required"><%=__('err.required')%></span>
    <span id="err.contains_numbers"><%=__('err.contains_numbers')%></span>
    <span id="err.contains_special-char"><%=__('err.contains_special-char')%></span>
    <span id="err.contains_white-char"><%=__('err.contains_white-char')%></span>
    <span id="err.notEmail"><%=__('err.notEmail')%></span>
    <span id="err.isBeforeDate"><%=__('err.isBeforeDate')%></span>
    <span id="err.isAfterDate"><%=__('err.isAfterDate')%></span>
    <span id="err.isNotANumber"><%=__('err.isNotANumber')%></span>
    <span id="err.isNegative"><%=__('err.isNegative')%></span>
    <span id="err.isNotInteger"><%=__('err.isNotInteger')%></span>
    <span id="err.isBiggerThan"><%=__('err.isBiggerThan')%></span>
    <span id="err.selectDefault"><%=__('err.selectDefault')%></span>
    <span id="err.isNotDate"><%=__('err.isNotDate')%></span>
    <span id="err.isDateAfterToday"><%=__('err.isDateAfterToday')%></span>
    <span id="err.isDateBeforeLimit"><%=__('err.isDateBeforeLimit')%></span>
    <span id="err.formHasErrors"><%=__('err.formHasErrors')%></span>
    <span id="err.invalidLoginData"><%=__('err.invalidLoginData')%></span>
    <span id="err.loginUsed"><%=__('err.loginUsed')%></span>

</div>

</html>