<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">

    <%- include('pagesTitles.ejs') %>

    <link rel="stylesheet" href="/Styles/default.css" />
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">

    <% if (docType == 'form') {%>
        <%- include('formValidations.ejs') %>
    <% } %>



</head>

<body>

<header>
    <a href="/">
        <h1>Biblioteka</h1>
    </a>
    <a href="/">
        <img src="/Images/Logo.png" alt="Biblioteka Logo">
    </a>
</header>

<nav>

    <ul>
        <!-- To w "" jest po prostu krótkim ifem -->
        <li><a href="/"  class ="<%= navLocation == 'Main' ? 'active' : '' %>">Strona główna</a> </li>
        <li><a href="/klient" class ="<%= navLocation == 'Klient' ? 'active' : '' %>">Klient</a> </li>
        <li><a href="/wypozyczenie" class ="<%= navLocation == 'Wypozyczenie' ? 'active' : '' %>">Wypożyczenie</a> </li>
        <li><a href="/egzemplarz_ksiazki" class ="<%= navLocation == 'Egzemplarz_Ksiazki' ? 'active' : '' %>">Egzemplarz Książki</a> </li>

    </ul>

</nav>