<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">

    <%- include('pagesTitles.ejs') %>

    <link rel="stylesheet" href="/Styles/default.css" />
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">

    <% switch (docType) {
        case 'form': %>
    <%- include('formValidations.ejs') %>

    <% break;
    case 'list' :%>
    <script type="application/javascript" src="/Scripts/verificationCommon.js"></script>

    <% break ;
    default: %>
    <!--Doc type not implemented-->
    <%}%>


</head>

<body>

<header>
    <a href="/">
        <h1><%=__('main-page.header-title')%></h1>
    </a>
    <a href="/">
        <img src="/Images/Logo.png" alt="Biblioteka Logo">
    </a>

</header>

<div class="login-container">
    <% if (!locals.loggedUser) {%>
        <h5><%=__('login-bar.login-title')%> :</h5>
        <div class="login-container-form">
            <form method="post" action="/login" novalidate>
            <label><%=__('login-bar.login-label')%> :</label>
            <input type="text" id="login" name="login" placeholder="<%=__('login-bar.login-label')%>">
            <label><%=__('login-bar.password-label')%> :</label>
            <input type="password" id="password" name="password" placeholder="<%=__('login-bar.password-label')%>">
            <input type="submit" value="<%=__('login-bar.button-login')%>" class="login-container-log-in">
            <a href="/register" class="login-container-register"><%=__('login-bar.button-register')%></a>
            </form>

        </div>
        <h5 class="error-text" ><%=loginError? __("err.invalidLoginData"): ''%></h5>
    <% } else {%>
        <span><%=__('login-bar.after-login-title')%>: <span> <%=locals.loggedUser.imie + " " + locals.loggedUser.nazwisko%> </span> </span>
        <div>
        <a href="/logout" class="login-container-log-out"><%=__('login-bar.button-logout')%></a>
        <a href="/account/<%=locals.loggedUser._id%>" class="login-container-edit-acc"><%=__('login-bar.button-account')%></a>
        </div>
    <% } %>
</div>
<% if (locals.loggedUser) {%>
<nav>
    <ul>
        <li><a href="/"  class ="<%= navLocation == 'Main' ? 'active' : '' %>"><%=__('nav.main-page')%></a> </li>
        <li><a href="/<%=(locals.loggedUser.accPerm == "admin")?'klient':('Klient/details/'+locals.loggedUser._id)%>" class ="<%= navLocation == 'Klient' ? 'active' : '' %>"><%=__('nav.client')%></a> </li>
        <li><a href="/wypozyczenie" class ="<%= navLocation == 'Wypozyczenie' ? 'active' : '' %>"><%=__('nav.lend')%></a> </li>
        <li><a href="/egzemplarz_ksiazki" class ="<%= navLocation == 'Egzemplarz_Ksiazki' ? 'active' : '' %>"><%=__('nav.book')%></a> </li>
        <% if (locals.loggedUser.accPerm == "admin") { %>
        <li><a href="/accountList" class="<%= navLocation == 'Register' ? 'active' : '' %>"><%=__('nav.accounts')%></a></li>
        <% } %>
    </ul>
</nav>
<% } %>