<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">

    <%- include('pagesTitles.ejs') %>

    <link rel="stylesheet" href="/Styles/default.css" />
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">

    <% switch (docType) {
        case 'form': %>
    <%- include('formValidations.ejs') %>
    <% break;
    case 'list' :%>
    <script type="application/javascript" src="/Scripts/verificationCommon.js"></script>
    <% break ;
    default: %>
    <!--Doc type not implemented-->
    <%}%>


</head>

<body>

<header>
    <a href="/">
        <h1>Biblioteka</h1>
    </a>
    <a href="/">
        <img src="/Images/Logo.png" alt="Biblioteka Logo">
    </a>

</header>

<div class="login-container">
    <%console.log("LOGGED USER DATA: " + JSON.stringify(loggedUser))%>
    <% if (!loggedUser) {%>
        <h5>Logowanie :</h5>
        <div class="login-container-form">
            <form method="post" action="/login" novalidate>
            <label>Login :</label>
            <input type="text" id="login" name="login">
            <label>Hasło :</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Zaloguj">
            </form>
        </div>
        <h5 class="error-text" ><%=loginError? loginError: ''%></h5>
    <% } else {%>
        <span>Jesteś zalogowany jako: <%=loggedUser.imie + " " + loggedUser.nazwisko%> </span>
        <a href="/logout">Wyloguj się</a>
    <% } %>

</div>

<nav>

    <ul>
        <!-- To w "" jest po prostu krótkim ifem -->
        <li><a href="/"  class ="<%= navLocation == 'Main' ? 'active' : '' %>">Strona główna</a> </li>
        <li><a href="/klient" class ="<%= navLocation == 'Klient' ? 'active' : '' %>">Klient</a> </li>
        <li><a href="/wypozyczenie" class ="<%= navLocation == 'Wypozyczenie' ? 'active' : '' %>">Wypożyczenie</a> </li>
        <li><a href="/egzemplarz_ksiazki" class ="<%= navLocation == 'Egzemplarz_Ksiazki' ? 'active' : '' %>">Egzemplarz Książki</a> </li>

    </ul>

</nav>