    <% switch (navLocation) {
case 'Main' : %>
    <title><%=__('main-page.header-title')%></title>
<% break;%>
<% case 'Wypozyczenie' :%>
    <title><%=__('nav.lend')%></title>
<% break;%>
<%case 'Egzemplarz_Ksiazki' :%>
    <title><%=__('nav.book')%></title>
<% break;%>
<%case 'Klient' :%>
    <title><%=__('nav.client')%></title>
<% break;%>
<%case 'Register' :%>
    <title><%=__('nav.account')%></title>
<% break;%>
<%default :%>
<!-- PAGE NAME NOT IMPLEMENTED , check /fragments/pagesTitles.ejs-->
    <title>Not_Implemented</title>
<% } %>