<%- include('../../fragments/header.ejs') %>

<main>

    <h2><%=pageTitle%></h2>



    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="_id" value="<%=kli._id%>">

        <label>Login:<span class="symbol-required">*</span></label>
        <input class="<%=(validationErrors.find(e => e.path.includes('login')) )?'error-input' : ''%>" type="text" name="login" id="accName" required value="<%=kli.login%>" placeholder="2-32 znaków"  <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorLogin" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('login')) ) {%>
                <%= validationErrors.find(e => e.path.includes('login')).message%>
            <% } %>
        </span>

        <label>Hasło:<span class="symbol-required">*</span></label>
        <% /*Tu specjalnie bez value,bo hasło? nwm */%>
        <input class="<%=(validationErrors.find(e => e.path.includes('login')) )?'error-input' : ''%>" type="password" name="password" id="accPass" placeholder=<%= (formMode == 'edit') ? "Leave blank if not want to change" : "2-32 znaków"%> >
        <span id="errorPassword" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('password')) ) {%>
                <%= validationErrors.find(e => e.path.includes('password')).message%>
            <% } %>
        </span>

        <label>Imie:<span class="symbol-required">*</span></label>
        <input class="<%=(validationErrors.find(e => e.path.includes('imie')) )?'error-input' : ''%>" type="text" name="imie" id="firstName" required placeholder="2-32 znaków" value="<%=kli.imie%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorFirstName" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('imie')) ) {%>
                <%= validationErrors.find(e => e.path.includes('imie')).message%>
            <% } %>
        </span>

        <label>Nazwisko:<span class="symbol-required">*</span></label>
        <input class="<%=(validationErrors.find(e => e.path.includes('nazwisko')) )?'error-input' : ''%>" type="text" name="nazwisko" id="lastName" required placeholder="2-32 znaków" value="<%=kli.nazwisko%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorLastName" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('nazwisko')) ) {%>
                <%= validationErrors.find(e => e.path.includes('nazwisko')).message%>
            <% } %>
        </span>

        <label>Email:</label>
        <input class="<%=(validationErrors.find(e => e.path.includes('email')) )?'error-input' : ''%>" type="email" name="email" id="email" placeholder=<%= (formMode == 'showDetails')? "Brak" : "ABC@DE.FG"%> value="<%=kli.email%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorEmail" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('email')) ) {%>
                <%= validationErrors.find(e => e.path.includes('email')).message%>
            <% } %>
        </span>

        <!-- Buttons end form -->
        <div class="form-buttons">

            <p id="errorSummary" class="error-text"><%=(validationErrors.length  > 0 ) ? 'Formularz zawiera błędy' : ''%></p>

            <%if (formMode== 'showDetails') {%>
                <a href="/Klient/edit/<%= kli._id%>" class="button-edit">
                    <img src="/Images/icons8-more-details-64.png" class="button-edit-icon">
                    <span class="button-edit-text">Edytuj</span>
                </a>
                <a href="/Klient" class="button-return">
                    <img src="/Images/icons8-u-turn-to-left-64.png" class="button-return-icon">
                    <span class="button-return-text">Powrót</span>
                </a>

            <%} else {%>
            <input type="submit" value=<%=btnLabel%> class="form-button-submit">
            <a href="/" class="form-button-cancel">Powrót</a>
            <%}%>



        </div>

    </form>
</main>

<%- include('../../fragments/footer.ejs') %>