<%- include('../../fragments/header.ejs') %>

<main>

    <h2><%switch(formMode){
        case 'createNew': %>
        <%=__('account.formTitles.add')%>
        <%break;%>
        <%case 'edit':%>
        <%=__('account.formTitles.edit')%>
        <%break;%>
        <%case 'showDetails':%>
        <%=__('account.formTitles.details')%>
        <%break;%>
        <%default:%>
        Error in determining form type, see respective form.ejs
        <%break;%>
        <% } %>
    </h2>



    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm(<%="\"" +formMode +"\""%>);">

        <input type="hidden" name="_id" value="<%=kli._id%>">

        <label><%=__('login-bar.login-label')%>:<span class="symbol-required">*</span></label>
        <input class="<%=(validationErrors.find(e => e.path.includes('login')) )?'error-input' : ''%>" type="text" name="login" id="accName" required value="<%=kli.login%>" placeholder="<%=__("placeholders.account.login")%>"  <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorLogin" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('login')) ) {%>
                <%= __(validationErrors.find(e => e.path.includes('login')).message)%>
            <% } %>
        </span>

        <label><%=__('login-bar.password-label')%>:<span class="symbol-required">*</span></label>
        <% /*Tu specjalnie bez value,bo hasło? nwm */%>
        <input class="<%=(validationErrors.find(e => e.path.includes('login')) )?'error-input' : ''%>" type="password" name="password" id="accPass" placeholder=<%= (formMode == 'edit') ? __('placeholders.account.passwordLeave') : ((formMode == 'showDetails') ? __('placeholders.account.passwordDetails') : __('placeholders.account.password')) %>  <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
        <span id="errorPassword" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('password')) ) {%>
                <%= __(validationErrors.find(e => e.path.includes('password')).message)%>
            <% } %>
        </span>

        <label><%=__('client.fields.first-name')%>:<span class="symbol-required">*</span></label>
        <input class="<%=(validationErrors.find(e => e.path.includes('imie')) )?'error-input' : ''%>" type="text" name="imie" id="firstName" required placeholder="<%=__("placeholders.client.firstName")%>" value="<%=kli.imie%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorFirstName" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('imie')) ) {%>
                <%= __(validationErrors.find(e => e.path.includes('imie')).message)%>
            <% } %>
        </span>

        <label><%=__('client.fields.last-name')%>:<span class="symbol-required">*</span></label>
        <input class="<%=(validationErrors.find(e => e.path.includes('nazwisko')) )?'error-input' : ''%>" type="text" name="nazwisko" id="lastName" required placeholder="<%=__("placeholders.client.lastName")%>" value="<%=kli.nazwisko%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorLastName" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('nazwisko')) ) {%>
                <%= __(validationErrors.find(e => e.path.includes('nazwisko')).message)%>
            <% } %>
        </span>

        <label><%=__('client.fields.email')%>:</label>
        <input class="<%=(validationErrors.find(e => e.path.includes('email')) )?'error-input' : ''%>" type="email" name="email" id="email" placeholder=<%= (formMode == 'showDetails')? __("placeholders.client.noEmail") : __("placeholders.client.email") %> value="<%=kli.email%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
        <span id="errorEmail" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('email')) ) {%>
                <%= __(validationErrors.find(e => e.path.includes('email')).message)%>
            <% } %>
        </span>

        <%if (isAdmin) {  /* czy tu jest sens dawać errory ? */%>
        <label><%=__('account.fields.acc_permission')%></label>
        <select name="permission" id="accPerm" <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <%if (formMode == 'showDetails' ) { %>
            <option value="<%=kli.accPerm%>" selected ><%=kli.accPerm%></option>
            <% } else { %>
            <option value="self" <%= (kli.accPerm == 'self') ? 'selected' : '' %> >self</option>
            <option value="admin" <%= (kli.accPerm == 'admin') ? 'selected' : '' %>>admin</option>
            <% } %>
        </select>
        <% } %>

        <!-- Buttons end form -->
        <div class="form-buttons">

            <p id="errorSummary" class="error-text"><%=(validationErrors.length  > 0 ) ? __('err.formHasErrors') : ''%></p>

            <%if (formMode== 'showDetails') {%>
                <a href="/account_edit/<%=kli._id%>" class="button-edit">
                    <img src="/Images/icons8-more-details-64.png" class="button-edit-icon">
                    <span class="button-edit-text"><%=__('account.form.detailsButtonLabel')%></span>
                </a>
                <a href="<%=(isAdmin)?'/accountList':'/'%>" class="button-return">
                    <img src="/Images/icons8-u-turn-to-left-64.png" class="button-return-icon">
                    <span class="button-return-text"><%=__('form.actions.return')%></span>
                </a>
                <a href="/deleteAccount/<%=kli._id%>" class="button-delete" onclick="return confirmDelete(<%=__('account.list.msgThisAcc')%>);" >
                    <img src="/Images/icons8-remove-64.png" class="button-delete-icon">
                    <span class="button-delete-text"><%=__('account.list.delete')%></span>
                </a>

            <%} else {%>
            <input type="submit" class="form-button-submit" value="<%switch(formMode){
            case 'createNew': %>
<%=__('account.form.addButtonLabel')%>
                        <%break;%>
                        <%case 'edit':%>
<%=__('account.form.editButtonLabel')%>
                        <%break;%>
                        <%default:%>
Error in determining form type, see respective form.ejs
                        <%break;%>
                        <% } %>">
            <a href="<%=(isAdmin)?'/accountList':'/'%>" class="form-button-cancel"><%=__('form.actions.cancel')%></a>
            <%}%>



        </div>

    </form>
</main>

<%- include('../../fragments/footer.ejs') %>